<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mandisi.services">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Login"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.mandisi.myassign7.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mandisi.myassign7.ActivateActivity"
            android:label="Go back to Login" />
        <activity
            android:name="com.example.mandisi.myassign7.LearnersCode"
            android:label="Go back to Login" />
        <activity
            android:name="com.example.mandisi.myassign7.Code1"
            android:label="Go back to Select Code" />
        <activity
            android:name="com.example.mandisi.myassign7.Code2"
            android:label="Go back to Select Code" />
        <activity
            android:name="com.example.mandisi.myassign7.Code3"
            android:label="Go back to Select Code" />
        <activity
            android:name="com.example.mandisi.myassign7.Results"
            android:label="Go back to Select Code" />

        <service
            android:name="com.example.mandisi.myassign7.BoundService"
            android:enabled="true"
            android:exported="true" />


        <service
            android:name="com.example.mandisi.myassign7.Services.settings.Impl.ActivateAccountServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.example.mandisi.myassign7.Services.settings.Impl.AppResetServiceImpl"
            android:exported="false" />
        <service
            android:name="com.example.mandisi.myassign7.Services.settings.Impl.MetaDataUpdateServiceImpl"
            android:exported="false" />
        <service
            android:name="com.example.mandisi.myassign7.Services.settings.Impl.GetMetaDataServiceImpl"
            android:exported="false" />
        <service
            android:name="com.example.mandisi.myassign7.Servic.Person.Imp.PersonAddressServiceImpl"
            android:exported="false" />
        <service
            android:name="com.example.mandisi.myassign7.Servic.Person.Imp.PersonContactServiceImpl"
            android:exported="false" />
        <service
            android:name="com.example.mandisi.myassign7.Servic.Person.Imp.LoginServiceImpl"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>